.ficha {
  border: 10px solid black;
  padding: 12px;
  text-align: center;
  width: 200px;
  margin: 10px;
}
.imagen {
  width: 100%;
  border-radius: 8px;
}

.estrella {
  font-size: 1.2rem;
  color: gold;
  margin-right: 2px;
}

.raza-humano   { background: #FF2800;}
.raza-elfo     { background: #F576A1; }
.raza-enano    { background: yellow; }
.raza-orco     { background: #304230; }
.raza-troll    { background: #CCFFE6; }

.raza-humano, .raza-elfo, .raza-enano, .raza-orco, .raza-troll, .raza-default {
  padding: 10px;
  border-radius: 15%;
}