.example-spacer {
  flex: 1 1 auto;
}
.opcion2{
    cursor: pointer;
}
.opcion:hover{
        font-weight: 700;
}

.nav-halloween{
  background-color: darkorange;
  color: black;
}


@media (max-width: 950px) {
  .opcion2 {
    display: none;
  }
}

@media (min-width: 950px) {
  .opcion1 {
    display: none;
  }
}