<mat-toolbar color="primary" [ngClass]="{ 'nav-halloween': esHalloween }">
  
  <button class="opcion1" [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/contador">Contador</button>
  <button mat-menu-item routerLink="/matatopos">Matatopos</button>
  <button mat-menu-item routerLink="/carrera">Carrera</button>
  <button mat-menu-item [routerLink]="['/paso-parametros', pi]">Paso Parametros</button>
  <button mat-menu-item routerLink="/lista-personajes">Lista Personaje</button>
  <button mat-menu-item routerLink="/formulario-registro">Formulario</button>
  <button mat-menu-item routerLink="/KanbanBoard">Kanban</button>
</mat-menu>


  <span class="example-spacer"></span>
  <span class="opcion2" routerLink="/contador">Contador</span>
  <span class="example-spacer"></span>
  <span  class="opcion2" routerLink="/matatopos">Matatopos</span>
  <span class="example-spacer"></span>
  <span class="opcion2" routerLink="/carrera">Carrera</span>
  <span class="example-spacer"></span>
  <span class="opcion2" [routerLink]="['/paso-parametros', pi]">Paso Parametros</span>
  <span class="example-spacer"></span>
  <span class="opcion2" routerLink="/lista-personajes">Lista Personajes</span>
  <span class="example-spacer"></span>    
  <span class="opcion2" routerLink="/formulario-registro">Formulario</span>
  <span class="example-spacer"></span>    
  <span class="opcion2" routerLink="/kanban-board">Kanban</span>
  <span class="example-spacer"></span>
  

  <span class="opcion">	<mat-slide-toggle [(ngModel)]="esHalloween"></mat-slide-toggle></span>
</mat-toolbar>
